#bonfires{
	font-family: Avenir;
}
.subtitle{
	text-align:center;
	position:relative;
	font-size:30;
}
.rule_middle{
	display:inline-block;
}
.rule_middle:before,
.rule_middle:after {
	border-style: none none solid none;
    border-bottom: 4px solid black;
     	-moz-box-shadow: 0px 2px 0px #ff7800; /* Firefox 3.6 and earlier */
		-webkit-box-shadow: 0px 2px 0px #ff7800; /* Safari and Chrome */
		box-shadow: 0px 2px 0px #ff7800;
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 0.7em;
}
.rule_middle:after {
   right: 0;  
   left: auto; 
}


.bonfire_button{
    display: block;
    padding: 10px;
    /*border: 1px solid red;*/
    margin-right: 50px;
    margin-bottom: 50px;
    height: 290px;
    width: 290px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: 5px 5px 2px #cccccc;
        -moz-box-shadow: 5px 5px 2px #cccccc; /* Firefox 3.6 and earlier */
        -webkit-box-shadow: 5px 5px 2px #cccccc; /* Safari and Chrome */
    background-image: url("https://math.stanford.edu/inc/img/PalmDrive.png");
}

#bonfire_list li{
    display:inline;
    float:left;
}
#bonfire_list_bottom{
    display:block;
    clear:both;
}
#bonfire_list{
    margin-left:auto;
    margin-right:auto;
}


