#bonfires{
	   font-family: Avenir;
        src: url(avenir.ttc);
}
.subtitle{
	text-align:center;
	position:relative;
	font-size:30pt;
}

.subtitle span{
    font-size:30pt;
}
.rule_middle{
	display:inline-block;
}
.rule_middle:before,
.rule_middle:after {
	border-style: none none solid none;
    border-bottom: 4px solid black;
     	-moz-box-shadow: 0px 2px 0px #ff7800; /* Firefox 3.6 and earlier */
		-webkit-box-shadow: 0px 2px 0px #ff7800; /* Safari and Chrome */
		box-shadow: 0px 2px 0px #ff7800;
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 0.5em;
}
.rule_middle:after {
   right: 0;  
   left: auto; 
}


.bonfire_button{
    display: block;
    padding: 10px;
    /*border: 1px solid red;*/
    margin-right: 25px;
    margin-left:25px;
    margin-bottom: 50px;
    height: 290px;
    width: 290px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    /*box-shadow: 5px 5px 2px #cccccc;
        -moz-box-shadow: 5px 5px 2px #cccccc;  Firefox 3.6 and earlier 
        -webkit-box-shadow: 5px 5px 2px #cccccc; /* Safari and Chrome */
    background-size:cover;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-position:center;

    -moz-transition: border-color 0.35s ease-in-out;
    -webkit-transition: border-color 0.35s ease-in-out;
    -o-transition: border-color 0.35s ease-in-out;
    -ms-transition: border-color 0.35s ease-in-out;
    transition: border-color 0.35s ease-in-out;

}

    .bonfire_button:hover{

        border: 5px solid #ff7800 !important;
        /*border-color:  #ff7800;*/
        
        

    }

#bonfire_list li{
    display:inline;
    float:left;
    
}
#bonfire_list_bottom{
    display:block;
    clear:both;
}
#bonfire_list{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}


@media (min-width: 580px) {
    #bonfire_list{
        width: 460px;
    }
}

@media (min-width: 920px) {
    #bonfire_list{
        width: 820px;
    }
}

@media (min-width: 1280px) {
    #bonfire_list{
        width: 1180px;
    }
}

@media (min-width: 1640px) {
    #bonfire_list{
        width: 1540px;
    }
}
#bonfire_head{
    line-height:1.5em;
}

#bonfire_list a{
    text-decoration:none;
}
.bonfire_name{
    text-align:center;
    vertical-align:middle;
    line-height:290px;
    font-family:Arial;
    color:#fff;
    opacity:0.9;
    font-size:34pt;
}
.bonfire_add_new{
    text-align:center;
    vertical-align:middle;
    line-height:290px;
    font-family:Arial;
    color:#000;
    font-size:54pt;
}

#bonfires_yours{
    margin-top:25px;
    margin-bottom:25px;
    font-size:14pt;
}
#bonfires_helptext{
    margin-top:0px;
    margin-bottom:15px;
    font-size:14pt;
}

#bonfire_stanford85{
    background-image: url('stanford85.png');

}

#newBonfire {
    display:block;
    position:absolute;
    top: 35%;
    left:35%;
    right:35%;
    width:30%;
    background-color:#333;
    padding: 5px 5px 30px 30px;
    opacity:0.99;
    visibility:hidden;
    z-index:-1;
}

#newBonfire h2{
    color:#ff7800;
    text-align:center;
}


#exitNewBonfire {
float: right;
margin-top: -57px;
margin-right: 0px;
cursor: pointer;
color: #eee;
font-size: 31px;
display: inline-block;
line-height: 0px;
}


