#bonfires{
	   font-family: Avenir;
        src: url(avenir.ttc);
}
.subtitle{
	text-align:center;
	position:relative;
	font-size:30pt;
}

.subtitle span{
    font-size:30pt;
}
.rule_middle{
	display:inline-block;
}
.rule_middle:before,
.rule_middle:after {
	border-style: none none solid none;
    border-bottom: 4px solid black;
     	-moz-box-shadow: 0px 2px 0px #ff7800; /* Firefox 3.6 and earlier */
		-webkit-box-shadow: 0px 2px 0px #ff7800; /* Safari and Chrome */
		box-shadow: 0px 2px 0px #ff7800;
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 0.5em;
}
.rule_middle:after {
   right: 0;  
   left: auto; 
}


.bonfire_button{
    display: block;
    padding: 10px;
    /*border: 1px solid red;*/
    margin-right: 50px;
    margin-bottom: 50px;
    height: 290px;
    width: 290px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: 5px 5px 2px #cccccc;
        -moz-box-shadow: 5px 5px 2px #cccccc; /* Firefox 3.6 and earlier */
        -webkit-box-shadow: 5px 5px 2px #cccccc; /* Safari and Chrome */

    background-size:cover;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-position:center;
}

#bonfire_list li{
    display:inline;
    float:left;
    
}
#bonfire_list_bottom{
    display:block;
    clear:both;
}
#bonfire_list{
    display:block;
    width:90%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.bonfire_name{
    text-align:center;
    vertical-align:middle;
    line-height:290px;
    font-family:Arial;
    color:#fff;
    opacity:0.9;
    font-size:34pt;
}
.bonfire_add_new{
    text-align:center;
    vertical-align:middle;
    line-height:290px;
    font-family:Arial;
    color:#000;
    font-size:54pt;
}

#bonfires_yours{
    margin-top:50px;
    margin-bottom:50px;
}

#bonfire_stanford85{
    background-image: url('stanford85.png');

}

