/* CSS for all bonfire group messaging pages */

body {
	background: #ffffff;
}

table {
	border: 1px solid black;
	width: 75%;
	min-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

td:first-child {
	width: 60%;
	vertical-align: top;
}

/********************************************************************/
/* NEW POST                                                         */
/********************************************************************/

#newpost-textfield {
	width: 70%;
	font-size: 12pt;
}

#newpost-button {
	margin-left: auto;
	margin-right: auto;
}

/********************************************************************/
/* PREVIOUS POSTS                                                   */
/********************************************************************/

.icon {
	overflow: auto;
	height: 50px;
	width: 50px;
	background-color: black;
	float: left;
}

.post {
	margin: 5px;
	font-size: 12pt;
	line-height: 18px;
}

.post-text {
	margin-left: 60px;
	min-height: 50px;
}

.reply {
	margin-left: 65px;
}

#reply-textfield {
	width: 67%;
	font-size: 12pt;
}

#reply-button {
	margin-left: auto;
	margin-right: auto;
}

/********************************************************************/
/* MEMBERS LIST                                                     */
/********************************************************************/



#memberslist {
	overflow: auto;
	height: 500px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Avenir;
	src: url(avenir.ttc);
}


/* maybe don't use h2 since defined differently elsewhere */
#memberslist h2 {
	text-decoration: none;
	font-family: Avenir;
	src: url(avenir.ttc);
	font-size: 2.0em;
}

.groupmember {
	font-size: 16pt;
	line-height: 1.2em;
	padding-top: 40px;
}

.groupmember img {
	height: 100px;
	width: 100px;
	float: left;
	padding-right: 30px;
}

.groupmember span {
	line-height: 50px;
}