/* CSS declarations go here */

	body
	{
		background: #fff;
		color: #2B2B2B;
	}

	body,input,textarea,select
	{

		font-family: Avenir;
		src: url(avenir.ttc);
		font-size: 18pt;
		font-weight: 200;
		line-height: 1.75em;
		color: #2B2B2B;			/* dark gray */
		-webkit-text-stroke: 0.15px;
	}

	

	h1
	{
		font-family: 'Englebert', sans-serif;
		font-size: 4em;
		font-weight: 200;
		line-height: 2em;
		margin-bottom: 0px;
		padding: 0;

	}

	h1 .alt
	{
		margin-bottom: 0px;
	}

	h4
	{
		font-family: Englebert;
		font-size: 2em;
		/*text-decoration: none;*/
		/*font-weight: 100;*/
		line-height: 1.5em;
		color: black !important;

	}

	a
	{
		color: inherit;
	}

	h2
	{
		font-size: 1em;
		font-weight: 300;
		line-height: 1em;
		text-align: left;
		text-decoration: none;
	}



	.welcome
	{
		margin-top: 100px;
		text-align: center;
		/*padding-top: 120px;*/

	}

	.title
	{
		text-align: center;
		/*padding-top: 50px;*/
	}

	.about
	{
		text-align: center;
		padding-top: 120px;
		padding-bottom: 320px;
	}

	hr 
	{
		border-style: none none solid none;
		/*border-color: #ff7800;*/
		/*border-width: 10px;*/
		/*padding-top: 50px;*/
		margin-bottom: 50px;
		width: 100% !important;

		border-bottom: 10px solid black;
  		-moz-box-shadow: 0px 5px 0px #ff7800; /* Firefox 3.6 and earlier */
  		-webkit-box-shadow: 0px 5px 0px #ff7800; /* Safari and Chrome */
  		box-shadow: 0px 5px 0px #ff7800;
					
	}

	.navButtons
	{
		text-align: center;
		margin-top: 120px;
		margin-bottom: 100px;
	}

	.mission
	{
		text-align: center;
		margin-bottom: 200px;
		font-size: 0.9em;
	}

	.navMenu{
		float:right;
	}

/*.navHeading{
	display:block;
	margin: 0 0 0 0;
	padding: 10px 50px;
	background:#ff7800;
	color:black;
	text-align:center;
	text-decoration:none;
	font-family:Englebert,sans-serif;
}

.navHeading:hover{
	background:#E66C00;
}

.navDropDown{
	position:absolute;
	visibility:hidden;
	margin:0;
	padding:0;
	background:	#FF9333;

}
.navDropDown a{
	position:relative;
	display:inline;
	margin:0;
	padding: 0px 10px;
	width:186px;
	text-align:left;
	text-decoration:none;
	color:black;
}

.navDropDown a:hover{
	background: #FF8619;
}

	  #map-canvas { 
	  	height: 500px;
	  	width: 500px; }*/

/* navbar */
.navbar-default {
    background-color: #ff7800;
    border: none;
    border-radius: 0 !important;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF2E6;
    background-color: -webkit-linear-gradient(black, #191919); /* For Safari 5.1 to 6.0 */
	background-color: -o-linear-gradient(black, #191919); /* For Opera 11.1 to 12.0 */
	background-color: -moz-linear-gradient(black, #191919); /* For Firefox 3.6 to 15 */
	background-color: linear-gradient(black, #191919); /* Standard syntax */
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF2E6;
    background-color: -webkit-linear-gradient(black, #191919); /* For Safari 5.1 to 6.0 */
	background-color: -o-linear-gradient(black, #191919); /* For Opera 11.1 to 12.0 */
	background-color: -moz-linear-gradient(black, #191919); /* For Firefox 3.6 to 15 */
	background-color: linear-gradient(black, #191919); /* Standard syntax */
}
.navbar-default .navbar-nav > .active > a:hover{
	color: #FFF2E6;
	background-color: -webkit-linear-gradient(black, #191919); /* For Safari 5.1 to 6.0 */
	background-color: -o-linear-gradient(black, #191919); /* For Opera 11.1 to 12.0 */
	background-color: -moz-linear-gradient(black, #191919); /* For Firefox 3.6 to 15 */
	background-color: linear-gradient(black, #191919); /* Standard syntax */
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF2E6;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

#login-dropdown-list {
position: absolute;
top: -1px;
left: -100px;
}
