/* CSS declarations go here */

	body
	{
		background: #fff;
		color: #2B2B2B;
	}

	body,input,textarea,select
	{

		font-family: Avenir;
		src: url(avenir.ttc);
		font-size: 18pt;
		font-weight: 200;
		line-height: 1.75em;
		color: #2B2B2B;			/* dark gray */
		-webkit-text-stroke: 0.15px;
	}

	

	h1
	{
		font-family: 'Englebert', sans-serif;
		font-size: 4em;
		font-weight: 200;
		line-height: 2em;
		margin-bottom: 20px;
		padding: 0;

	}

	h1 .alt
	{
		margin-bottom: 0px;
	}

	h4
	{
		font-family: Englebert;
		font-size: 2em;
		/*text-decoration: none;*/
		/*font-weight: 100;*/
		line-height: 1.5em;
		color: black !important;

	}

	a
	{
		color: inherit;
	}

	h2
	{
		font-size: 1em;
		font-weight: 200;
		line-height: 1em;
		text-decoration:underline;
		text-align: left;
	}



	.welcome
	{
		text-align: center;
		padding-top: 120px;

	}

	.title
	{
		text-align: center;
		padding-top: 50px;
	}

	.about
	{
		text-align: center;
		padding-top: 120px;
		padding-bottom: 320px;
	}

	hr 
	{
		border-style: none none solid none;
		/*border-color: #ff7800;*/
		/*border-width: 10px;*/
		/*padding-top: 50px;*/
		margin-bottom: 50px;
		width: 100% !important;

		border-bottom: 10px solid black;
  		-moz-box-shadow: 0px 5px 0px #ff7800; /* Firefox 3.6 and earlier */
  		-webkit-box-shadow: 0px 5px 0px #ff7800; /* Safari and Chrome */
  		box-shadow: 0px 5px 0px #ff7800;
					
	}

	.navButtons
	{
		text-align: center;
		margin-top: 120px;
		margin-bottom: 300px;
	}




