

/********************************************************************/
/* BASIC                                                            */
/********************************************************************/






	h3
	{
		font-size: 0.8em;
		font-weight: 200;
	}


	td:first-child
	{
		width:50%;
		max-width: 450px;

	}

	#memBox
	{
		min-width: 500px;
	}


/********************************************************************/
/* SECTIONS                                                         */
/********************************************************************/

	#GoButton
	{
		float:right;
	}

	.signup
	{
		width: 800px;
		text-align: left;
		margin-left: auto ;
  		margin-right: auto ;
  		padding: 1em 0 1em 0;
	}

	.signupForm
	{
		
		
		
  		
	}
	
	#signupForm > section
	{
		top:0;
		height: 100%;
		margin-bottom: 1.5em;
		/*padding-left: 20px;*/
		line-height: 2em;
		width: 50%;
		margin-left: 30px;
	}

	#signupForm > section.top
	{
		width: 100%;
		padding-left: 0;
		margin-left: 0;
	}

	#container1
	{
		width:100%;
		position: relative;
		
	}

	#container1 > section
	{

	}

	/*#container1 > section.name
	{
		margin-left: 30px;
		float:left;
		width: 50%;

	}*/

	/*#container1 > section.picUpload
	{
		margin-left: 30px;
		float:left;
		width: 50%;

	}*/

	#name .name
	{
		
		float:left;
		width: 50%;
	}

	#picUpload .picUpload
	{
		margin-left: 30px;
		float:left;
		width: 50%;
	}

	/* container for work and school sections */

	#container2 > section
	{
		
		top:0;
		line-height: 2em;
		padding-bottom: 50px;
		float:top;
	}

	#container2 > section.work
	{
		float: left;
		
		height: 100%;
		margin-bottom: 1.5em;
		padding-left: 20px;
		width: 50%;
		
		
		/*margin-left: 30px;*/
	}

	#container2 > section.school
	{
		float: left;
		margin-left: 30px;
	}

	.memBox
	{
		
		margin-top: 50px;
		/*width: 100%;*/
		padding-left: 0;
		margin-left: 0;
	}


	/* This uploads to the memory box, support dnd later 

	source http://html5demos.com/dnd-upload#view-source  */

	.holder
	{
		/*position: relative;*/
		border: 10px dashed #2B2B2B;
		width: 100%; 
		min-height: 300px; 
		margin-left : auto;
		margin-right : auto;
	}

	.small
	{
		position: relative;
		border: 10px dashed #2B2B2B;
		width: 100%; 
		/*min-height: 300px; */
		margin-left : auto;
		margin-right : auto;
		text-align: center;
		/*vertical-align: center;*/
		
	}

	#holder img 
	{ 
		display: block; 
		margin: 10px auto; 
	}



	/* make things look pretty */ 
	
	.button
		{
			position: relative;
			display: inline-block;
			border-radius: 0.35em;
			color: black !important;
			text-decoration: none;
			padding: 0.75em 2.5em 0.75em 2.5em;
			margin-right: 30px;
			margin-left: 30px;
			/*background-color: #ff7800;*/
			border: 8;
			border-style: solid;
			border-color: black;
			cursor: pointer;
			/*
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');			
			*/
			-moz-transition: background-color 0.35s ease-in-out;
			-webkit-transition: background-color 0.35s ease-in-out;
			-o-transition: background-color 0.35s ease-in-out;
			-ms-transition: background-color 0.35s ease-in-out;
			transition: background-color 0.35s ease-in-out;
		}

			.button:hover
			{
				background-color:  #ff7800;
			}
			
			.button:active
			{
				background-color:  #ff7800;
			}

	form input.text,
	form select,
	form textarea
	{
		position: relative;
		-webkit-appearance: none;
		border: 0;
		background: #fff;
		background: rgba(255,255,255,0.75);
		border-radius: 0.35em;
		padding: 0.1em 0.25em 0.1em 0.25em;
		box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
		border: solid 1px rgba(0,0,0,0.15);
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	form input.text:focus,
	form select:focus,
	form textarea:focus
	{
		box-shadow: 0 0 2px 1px #8ededc;
		background: #fff;
	}